<!DOCTYPE html>
<html lang="en">
<head>{{> /include/header}}
</head>

<body>
	{{> /include/navigation}}
	<!-- Page Content -->
	<div class="container">
		<h1>상품 리스트 </h1>

		<div class="row">
			{{#products}}
			<div class="col-md-3">
				<div class="thumbnail">
					<a href="/product/{{id}}"> <img src="images/portfolio/{{id}}.jpg" style="width: 100%">
						<div class="caption">
							<p>{{productName}}</p>
						</div>
					</a>
				</div>
			</div>
			{{/products}}
		</div>

		<!-- Pagination -->
		<ul class="pagination justify-content-center">
			<li class="page-item"><a class="page-link" href="#"
				aria-label="Previous"> <span aria-hidden="true">&laquo;</span> <span
					class="sr-only">Previous</span>
			</a></li>
			<li class="page-item"><a class="page-link" href="#">1</a></li>
			<li class="page-item"><a class="page-link" href="#">2</a></li>
			<li class="page-item"><a class="page-link" href="#">3</a></li>
			<li class="page-item"><a class="page-link" href="#"
				aria-label="Next"> <span aria-hidden="true">&raquo;</span> <span
					class="sr-only">Next</span>
			</a></li>
		</ul>

	</div>
	<!-- /.container -->

	<!-- Footer -->
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; Your
				Website 2017</p>
		</div>
		<!-- /.container -->
	</footer>
</body>

</html>
