<!DOCTYPE html>
<html lang="kr">
<head>{{> /include/header}}
</head>
<body>
	{{> /include/navigation}}
	<!-- Trigger the modal with a button -->
	<div class="container" id="main">
		<div class="row">
			<div class="col-lg-3">
				<h2 class="my-4">다른 상품 보기</h2>
				<div class="list-group">
					{{#productCategoryList}}
					<button href="#" class="list-group-item">{{productCategoryName}}</button>
					{{/productCategoryList}}
				</div>
			</div>
			{{#product}}
			<input type="hidden" id="hdProductCategoryName" value="{{ProductCategory.productCategoryName}}">
			<div class="col-lg-9">
				<div class="card mt-4">
					<div class="text-center">
						<img src="/images/portfolio/{{id}}.jpg" alt="">
					</div>
					<div class="card-body">
						<h3 class="card-title">{{productName}}</h3>
						<h4>{{productPrice}}원</h4>
						<p class="card-text">{{productDesc}}</p>
						<span class="text-warning">&#9733; &#9733; &#9733; &#9733;
							&#9734;</span> 4.0 stars
					</div>
					<div class="text-center" style="margin-bottom:10px">
						<button class="btn btn-info" id="btnApply">신청하기</button>					
					</div>
					<div class="alert alert-danger alert-dismissible hidden" id="myAlert">
						<a href="#" class="close">&times;</a> <strong>앗!</strong>
						신청 기간은 2018년 3월 27일부터 입니다.
					</div>
				</div>				
				<div class="card card-outline-secondary my-4">
					<div class="card-header">상세 설명</div>
					<div class="card-body text-center">
						<img src="/images/product/{{id}}.jpg" width="100%" />
					</div>
				</div>
			</div>
			{{/product}}
		</div>
	</div>
	<!-- /.container -->
	{{> /include/footer}}
	<script>
		$(document).ready(function(){
		    $(".close").click(function(){
		        $("#myAlert").addClass('hidden');
		    });
		    
		    $("#btnApply").click(function(){
		        $("#myAlert").removeClass('hidden');
		    });
		    $(".list-group").find('a')
		    
		    $(".list-group").find("button").each(function(i) {
		    	if($(this).text() == $("#hdProductCategoryName").val()){
		    		$(this).addClass("active");
		    	}else{
		    		$(this).attr("data-toggle", "modal").attr("data-target", "#myModal");
		    	}
			});
		});
	</script>
</body>

</html>
