<!-- Bootstrap core JavaScript -->
<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="/js/plugin/jquery.easing.min.js"></script>
<script src="/js/plugin/scrollreveal.min.js"></script>
<script src="/js/plugin/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="/js/creative.min.js"></script>

<script src="/webjars/trumbowyg/2.4.1/dist/trumbowyg.min.js"></script>
<script src="/webjars/trumbowyg/2.4.1/dist/langs/ko.min.js"></script>
<script src="/js/scripts.js"></script>