<!DOCTYPE html>
<html lang="kr">
<head>
<meta charset="utf-8">
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='/fonts/OpenSans.css' rel='stylesheet' type='text/css'>
<link href='/fonts/Merriweather.css' rel='stylesheet' type='text/css'>
<!-- Plugin CSS -->
<link href="/css/plugin/magnific-popup.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="/css/creative.min.css" rel="stylesheet">
</head>

<body id="page-top">
	<nav class="navbar navbar-expand-lg navbar-light fixed-top"
		id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#page-top">PC
				SELL</a>
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarResponsive"
				aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#about">신청안내</a></li>
					<li class="nav-item"><a class="nav-link js-scroll-trigger"
						href="#portfolio">PC</a></li> {{^sessionedUser}}
					<li class="nav-item"><a class="nav-link"
						href="/user/loginForm" role="button">로그인</a></li>
					<li class="nav-item"><a class="nav-link" href="/user/form"
						role="button">회원가입</a></li> {{/sessionedUser}} {{#sessionedUser}}
					<li class="nav-item"><a class="nav-link" href="/question">문의하기</a></li>
					<li class="nav-item"><a class="nav-link" href="/user/logout">로그아웃</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/user/{{id}}/form">개인정보수정</a></li> {{/sessionedUser}}
				</ul>
			</div>
		</div>
	</nav>
	<header class="masthead">
		<div class="header-content">
			<div class="header-content-inner">
				<h1 id="homeHeading">임직원 대상 PC 사내판매</h1>
				<hr>
				<p>2018년 3월 22일 (목) 09시 ~ 2018년 3월 28일 (수) 18시</p>
				<a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">자세한 내용 보러가기</a>
			</div>
		</div>
	</header>

	<section class="bg-primary" id="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<h3 class="section-heading text-white">1. 신청대상</h3>
					<hr />
					<p class="text-faded">- 1인/1대만 신청</p>
					<hr class="light" />
					<h3 class="section-heading text-white">2. 신청일정</h3>
					<hr />
					<p class="text-faded">
						- 신청접수 : 2018년 3월 22일 (목) 09시 ~ 2018년 3월 28일 (수) 18시<br /> - 추첨 및
						발표 : 2018년 3월 29일 (목)<br /> <span style="font-size: 13px">*
							당첨결과만 메일로 개별 안내</span>
					</p>
					<hr class="light" />
					<h3 class="section-heading text-white">3. 신청유의사항</h3>
					<hr />
					<p class="text-faded">
						- 개인 희망 품목 선택 후 마감 시한까지 경쟁률을 참고하여 조정 가능<br /> - 마감 이후 신청수량이 판매수량
						초과시 추첨을 통해 구매자 확정
					</p>
					<hr class="light" />
					<h3 class="section-heading text-white">4. 배송시기</h3>
					<hr />
					<p class="text-faded">- 판매 최종 확정 후, 개인 주소지로 택배 발송</p>
					<hr />
					<a class="btn btn-default btn-xl js-scroll-trigger"
						href="#portfolio">제품 보러가기</a>
				</div>
			</div>
		</div>
	</section>

	<section class="p-0" id="portfolio">
		<div class="container-fluid">
			<div class="row no-gutter">
				<div class="col-lg-4 col-sm-6 text-center">
					<a class="portfolio-box" href="/"> <img class="img-fluid"
						src="images/portfolio/1.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">데스크탑 + 모니터</div>
								<div class="project-name">삼성 DB400S2A + 23인치 모니터</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6 text-center">
					<a class="portfolio-box" href="/"> <img class="img-fluid"
						src="images/portfolio/2.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">울트라북 13.3인치</div>
								<div class="project-name">삼성 NT900X3C</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6 text-center">
					<a class="portfolio-box" href="/"> <img class="img-fluid"
						src="images/portfolio/3.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">울트라북 13.3인치</div>
								<div class="project-name">삼성 NT900X3G</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6 text-center">
					<a class="portfolio-box" href="/"> <img class="img-fluid"
						src="images/portfolio/4.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">울트라북 13.3인치</div>
								<div class="project-name">삼성 NT900X3K</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6 text-center">
					<a class="portfolio-box" href="/"> <img class="img-fluid"
						src="images/portfolio/5.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">울트라북 15인치</div>
								<div class="project-name">삼성 NT900X4D</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-lg-4 col-sm-6 text-center">
					<a class="portfolio-box" href="/"> <img class="img-fluid"
						src="images/portfolio/6.jpg" alt="">
						<div class="portfolio-box-caption">
							<div class="portfolio-box-caption-content">
								<div class="project-category text-faded">울트라북 15.6인치</div>
								<div class="project-name">삼성 NT930X5J</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</section>

	<div class="call-to-action bg-dark">
		<div class="container text-center">
			<h2>이 외에 다양한 상품이 있습니다.</h2>
			<a class="btn btn-default btn-xl sr-button"	href="/">더 많은 제품 보러가기</a>
		</div>
	</div>

	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto text-center">
					<h2 class="section-heading">관리자에게 문의</h2>
					<hr class="primary">
					<p>사이트 이용 관련 문의나 제품관련 문의는 아래 연락처로 주시기 바랍니다.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 ml-auto text-center">
					<i class="fa fa-phone fa-3x sr-contact"></i>
					<p>123-456-6789</p>
				</div>
				<div class="col-lg-4 mr-auto text-center">
					<i class="fa fa-envelope-o fa-3x sr-contact"></i>
					<p>
						<a href="mailto:your-email@your-domain.com">feedback@startbootstrap.com</a>
					</p>
				</div>
			</div>
		</div>
	</section>

	<!--login modal-->
	<!--
<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center"><img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"><br>Login</h2>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block">
              <div class="form-group">
                  <label for="userId">사용자 아이디</label>
                  <input class="form-control" name="userId" placeholder="User ID">
              </div>
              <div class="form-group">
                  <label for="password">비밀번호</label>
                  <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                  <button class="btn btn-primary btn-lg btn-block">로그인</button>
                  <span class="pull-right"><a href="#registerModal" role="button" data-toggle="modal">회원가입</a></span>
              </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>  
      </div>
  </div>
  </div>
</div>
-->

	<!--register modal-->
	<!--
<div id="registerModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h2 class="text-center"><img src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"><br>회원가입</h2>
      </div>
      <div class="modal-body">
          <form class="form col-md-12 center-block">
              <div class="form-group">
                  <label for="userId">사용자 아이디</label>
                  <input class="form-control" id="userId" name="userId" placeholder="User ID">
              </div>
              <div class="form-group">
                  <label for="password">비밀번호</label>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                  <label for="name">이름</label>
                  <input class="form-control" id="name" name="name" placeholder="Name">
              </div>
              <div class="form-group">
                  <label for="email">이메일</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email">
              </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">회원가입</button>
            </div>
          </form>
      </div>
      <div class="modal-footer">
          <div class="col-md-12">
          <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>  
      </div>
  </div>
  </div>
</div>
-->
	<!-- Bootstrap core JavaScript -->
	<script src="/webjars/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/popper.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	
	<!-- Plugin JavaScript -->
	<script src="/js/plugin/jquery.easing.min.js"></script>
	<script src="/js/plugin/scrollreveal.min.js"></script>
	<script src="/js/plugin/jquery.magnific-popup.min.js"></script>
	<!-- Custom scripts for this template -->
	<script src="/js/creative.min.js"></script>
</body>
</html>